@import "./../../styles/mixin.scss";

.StageF {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .F1 {
    @include Subheading($size: 34px);
    text-align: center;
  }
}
